/* Applied Tehcnology Resources, Inc. Style Sheet */

html {
  font-size: 16px;
  margin: auto;
}
body {
  background-image: url(../images/Strip5.png);
  background-size: 45px;
  background-repeat: repeat-y;
  background-color: rgb(255,255,239);
  margin-left: 43px;
  margin-right: 5px;
  margin-top: 0;
  font-size: 1em;
}
body, p, h1, h2, h3, font, table, form, td, th, tr, li, ul {
  font-family: serif;
}
main {
        padding: 10px;
}
footer {
        padding: 10px;
}
.atri {
        color: #800080;
        font-size: +1;
}
address {
  text-align: center;
}
a {
	text-decoration: none;
}
a:hover {
	color: red;
	text-decoration: underline;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.2em;
}
.header {
  color: blue;
}
.white {
  color:white;
}
.yellow {
  color:yellow;
}
.red {
  color:red;
}
.center {
  text-align:center;
}
.specialnote {
  color: red;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}
.inline {
  display: inline;
}

/* Hit counter in counter.phpi */

#hitCntr {
	text-align: center;
}
#hitCntr div {
  margin-top: 15px;
  margin-bottom: 10px;
}
#hitCntr span {
  background-color: rgb(255,255,239); 
  font-family: sans-serif;
  font-size: 1.5em; 
  color: rgb(123,16,66); 
  padding: 5px 10px 5px 10px; 
  border: 8px rgb(255,255,100) groove;
}

/* index.php */
#applitecServices {
  border: 0;
  padding-bottom: 1em;
}
#applitecServices h1 {
  text-align: center;
}
#appservEE {
  background-color: #F8F8D2;
  border: 2px solid black;
  padding-left: 2em;
}
#appservPD {
  background-color: #F0DEDF;
  border: 2px solid black;
  padding-left: 2em;
}
#appservSCSI {
  background-color: olive;
  border: 2px solid black;
  padding-left: 2em;

}
#appservCAD {
  background-color: silver;
  color: black;
  border: 2px solid black;
  padding-left: 2em;

}
#appservINT {
  background-color: gray;
  color: white;
  border: 2px solid black;
  padding-left: 2em;

}
#appservSW {
  background-color: #cdcfec;
  color: black;
  border: 2px solid black;
  padding-left: 2em;

}

@media (min-width: 1024px) {
        body {
                font-size: 1.5em;
        }
}

@media (max-width: 740px) {
        #navMap {
                display: none;
        }
        #smallNavMap {
                display: block;
        }
        img[src="images/back.gif"], img[src="images/butmail.gif"] {
                display: none;
        }
        main > img {
                width: 100%;
        }
        #topTitleDiv a {
                font-size: 1.5em;
        }
        nav {
                margin-bottom: 35px;
        }
}
