# .htaccess for the applitec.com admin directory
Options +Indexes +Includes

Order Deny,Allow
Deny from All

AuthName "Applitec Admin"
AuthType Basic
AuthUserFile /var/www/applitec/admin/.htpasswd
require valid-user
Satisfy Any


